# AI ja koneoppiminen - tehtävä 1

Palauttakaa tämän ipynb-tiedosto pohjana

## 1.1 Markdown
Kirjoita seuraavat asiat markdown-kenttään:
 1. Väliotsikko: "Markdown-lista"
 2. Numeroitu lista
 3. Väliotsikko: "Markdown-kuva"
 4. Upota kuva markdownilla. Kuvan linkki: https://www.frostbit.fi/wp-content/uploads/2024/08/Gamejam2024-header-webpage.jpg
 5. Väliotsikko: "Markdown-linkki"
 6. Markdown-linkki osoitteeseen: https://www.lapinamk.fi/fi

Kirjoita markdown tähän

## 1.2 Numpy

Tee seuraavat numpy-harjoitukset:

In [52]:
# Tuo Numpy -kirjasto tässä

In [53]:
# Tässä luodaan satunnaisten lukujen yksiulotteinen numpy ndarray
numpy_array = np.random.random(20)
numpy_array

array([0.94749034, 0.36021017, 0.20976432, 0.15737695, 0.82005362,
       0.44742324, 0.40244446, 0.74985365, 0.37375978, 0.72470871,
       0.43848601, 0.96697054, 0.12331159, 0.55286656, 0.69701022,
       0.45020823, 0.19867445, 0.35416055, 0.24812416, 0.72052848])

In [54]:
# Laske numpy_array lukujen keskiarvo tähän:

In [55]:
# Tässä luodaan satunnaisten lukujen kolmiulotteinen numpy ndarray
numpy_matrix = np.random.random(size=(20, 3))
numpy_matrix

array([[0.93397262, 0.20424282, 0.34290069],
       [0.62791679, 0.8954823 , 0.89140822],
       [0.33177744, 0.3404003 , 0.19718021],
       [0.90681518, 0.747992  , 0.31106101],
       [0.44256479, 0.41302738, 0.2999793 ],
       [0.07767413, 0.6623055 , 0.92279021],
       [0.86213724, 0.93746839, 0.84721806],
       [0.35698319, 0.71439329, 0.80488705],
       [0.48257365, 0.01498436, 0.74544179],
       [0.84793552, 0.04153145, 0.46782847],
       [0.45325687, 0.71388284, 0.20953226],
       [0.18608796, 0.87779832, 0.8870515 ],
       [0.8315551 , 0.40636372, 0.72737713],
       [0.74987787, 0.70476195, 0.81465806],
       [0.26399238, 0.30712327, 0.6105635 ],
       [0.42220186, 0.65945671, 0.80722596],
       [0.91369604, 0.9248155 , 0.99757235],
       [0.07627351, 0.95882159, 0.73520713],
       [0.28647249, 0.32203303, 0.94164212],
       [0.54837109, 0.68549982, 0.49234949]])

In [56]:
# Laske numpy_matrix keskiarvot per sarake:

## 1.3 Pandas

Tee seuraavan Pandas-harjoitukset

In [57]:
# Tuo Pandas -kirjasto tässä

In [58]:
# Luodaan DataFrame, joka sisältää tietoa opiskelijoista
data = {
    'Nimi': ['Anna', 'Matti', 'Liisa', 'Pekka'],
    'Ikä': [22, 21, 23, 24],
    'Arvosana': [5, 4, 3, 5]
}
df = pd.DataFrame(data)

In [59]:
# Laske opiskelijoiden keski-ikä:

In [60]:
# Suodata ne opiskelijat, joiden arvosana on yli 3